{% extends 'base.html' %}


{% block content %}

<main class="container-fluid display: flex;" > 
  
            <h1>Crear orden de trabajo</h1>
            {{error}}
            <form action="/tareas/creartarea/" method="POST" class="card card-body" style="border: 1px solid; height: 900px;top: 5%;left: 5%; width: 1800px; " >
                {% csrf_token %}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
                <div class="container-fluid" id="main-content">
                    <div class="col-4 mt--4" style=" height: 300px;top: 4%;left: 87%; width: 200px;" >
                        <label for="nombre">Nombre y apellido</label>
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre y apellido">
                    </div>
                    <div class="col-4 mt--4" style=" height: 300px;top: -10%;left: 87%; width: 200px;">
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" class="form-control" placeholder="Telefono">
                    </div>
                    <div class=".card" >
                        <div  style=" height: 50px;top: 10%;left: 30%; width: 500px;">
                            <label for="trabajosolicitado">Trabajo solicitado por el cliente</label>
                            <input type="text" name="trabajosolicitado" class="form-control" placeholder="Trabajo solicitado por el cliente" style="border: 1px solid; height: 150px; width: 300px;">
                        </div>
                        <div class="col-1 mt--1" style=" height: 50px;top: -80%;left: 65%; width: 200px;">
                            <label for="trabajoarealizar">Trabajo a realizar</label>
                            <input type="text" name="trabajoarealizar" class="form-control" placeholder="Escribe una descripcion del trabajo realizado"style="border: 1px solid; height: 150px; width: 300px;">
                        </div>
                        <div class="col-5 mt-4" >
                            <label for="observaciones">Observaciones</label>
                            <input type="text" name="observaciones" class="form-control" placeholder="Observaciones"style="border: 1px solid; height: 150px; width: 300px;">
                        </div>
                    </div>
                    <div class="col-5 mt-4">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                            </svg>
                            Guardar
                        </button>
                    </div>
                </div>
            </form>   
</main>

{% endblock %}
