{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <h1 class="text-center display-3 py-5">Trabajos completados</h1>
            <ul class="list-group">
                {% for listadetareas in Tareas %}
                    <a class="list-group-item" href="{% url 'detalletarea' listadetareas.id %}">
                        <header class="d-flex justify-content-between">

                        <h1 class="fw-bold text-success">{{listadetareas.id}}</h1>
                        
                        </header>
                            <p>{{listadetareas.completado|date:'M j Y'}}</p>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock %}